nav{
    background-color: rgb(36, 54, 32);
    color: rgb(0, 214, 89);
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
}

nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li {
    list-style: none;
}

nav li a{
    color: rgb(0, 214, 89);
    text-decoration: none;
    font-weight: bold;
    padding: 5px 8px;
}

nav li a:hover {
    color: rgb(255, 162, 0);
    text-decoration: none;
}